
body{
			background: url('http://cdn.smosh.com/sites/default/files/ftpuploads/bloguploads/0913/harry-potter-memes-potter-lookin-fine.jpg');
		}
.center {
	text-align: center;
	font-size: 70px;
	color:#62FB4D;
	font-family: 'Gloria Hallelujah', cursive;
}
 .photo {
 	margin:auto;
 	display: block;
 }
