
body{
	background-image: url('https://images-cdn.9gag.com/photo/aeGrM3v_700b.jpg');
	background-position: center;
    background-attachment: fixed;
    background-size: cover;
		}
.center {
	text-align: center;
	font-size: 70px;
	color:#62FB4D;
	font-family: 'Gloria Hallelujah', cursive;
}
 .photo {
 	margin:auto;
 	display: block;
 }
